.signup-container {
	display: flex;
	flex-direction: column;
	width: 380px;
	justify-content: space-between;
	margin: 30px auto;

	.title {
		text-align: center;
	}
}

.input-container {
	margin: 45px 0;

	.input-label {
		color: #000;
		font-size: 16px;
		font-weight: normal;
		pointer-events: none;
	}

	select {
		margin-top: 20px;
		background-color: white;
		color: #000;
		font-size: 15px;
		padding: 8px 8px 8px 4px;
		display: block;
		width: 100%;
		border: 1px solid grey;
		outline: none;
	}
}
