.login-container {
	display: flex;
	flex-direction: column;
	width: 380px;
	justify-content: space-between;
	margin: 30px auto;

	.title {
		text-align: center;
	}

	.error-message {
		margin: 0 auto;
		width: 300px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		color: #fff;
		background-color: rgb(255, 54, 54);
	}
}

.input-container {
	margin: 45px 0;

	.input-label {
		color: #000;
		font-size: 16px;
		font-weight: normal;
		pointer-events: none;
	}
}
